/* .banner {

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.banner_box {
  width: 400px;
  height: 200px;
  display: flex;
  row-gap: 10px;
  align-items: center;
  background-color: #f5f5f5; 
  border-radius: 10px;
  margin: 10px; 
  padding: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.banner_box:hover {
  transform: translateY(-5px); 
}

.banner_box img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 20px; 
}

 .name {
  font-size: 18px;
  font-weight: bold;
  color: #333; 
  margin-bottom: 5px;
}

.education {
  font-size: 16px;
  color: #555; 
  gap: 20px;
}  */



/* Correct css */

/* carosel styling */

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 /* gap: 20px; */
}

.banner_box{
  width: 350px;
  height: 200px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 


}

.banner_box:hover {
  transform: translateY(-5px); 
}

.banner_box img{
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.info{
  /* display: flex; */
  font-family: Arial, Helvetica, sans-serif;
  
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333; 
  margin-bottom: 5px;
}

.education {
  font-size: 16px;
  color: #555; 
  gap: 20px;
} 



/* Responsive Design */
@media (max-width: 1024px) {
  .banner_box {
      width: 300px; 
      padding: 15px;
  }

  .banner_box img {
      width: 100px; 
      height: 100px;
  }

  .name {
      font-size: 16px;
  }

  .education {
      font-size: 14px;
  }
}

@media (max-width: 768px) {
  .banner {
      flex-direction: column; 
      gap: 15px;
  }

  .banner_box {
      width: 90%; 
      padding: 15px;
  }

  .banner_box img {
      width: 80px; 
      height: 80px;
  }

  .name {
      font-size: 14px;
  }

  .education {
      font-size: 13px;
  }
}

@media (max-width: 480px) {
  .banner_box {
      width: 100%; 
      padding: 10px;
      flex-direction: column; /* converts horizontal row to vertical (image and content in the banner_box only*/
      align-items: center; 
      gap: 10px; 
      }

  .banner_box img {
      width: 70px; 
      height: 70px;
  }

  .info {
      text-align: center; 
  }

  .name {
      font-size: 12px;
  }

  .education {
      font-size: 12px;
  }
}